body {
    background: rgb(255, 20, 20);
    background: linear-gradient(90deg, rgba(255, 20, 20, 0.4126838235294118) 3%, rgba(252, 107, 162, 0.5471376050420168) 10%, rgba(255, 136, 223, 0.5023196778711485) 17%, rgba(216, 141, 251, 0.5527398459383753) 23%, rgba(195, 154, 252, 0.5527398459383753) 28%, rgba(135, 111, 255, 0.3734681372549019) 39%, rgba(116, 215, 255, 0.4631039915966386) 50%, rgba(153, 251, 232, 0.44629726890756305) 61%, rgba(177, 255, 146, 0.5807510504201681) 69%, rgba(174, 250, 146, 0.6843925070028012) 77%, rgba(246, 255, 146, 0.7236081932773109) 86%, rgba(255, 229, 123, 0.6899947478991597) 93%, rgba(255, 211, 123, 0.46030287114845936) 100%);
}

h3,
section {
    text-align: center;
    font-family: 'Alef', sans-serif;
    font-size: 40px;
    color: #ada0b4;
}

h1 {
    font-family: 'Alef', sans-serif;
    font-size: 200px;
    text-align: center;
    margin: 50px 0px 20px 0px;
    font-weight: 200;
    background: linear-gradient(to right, #2af5f5 20%, #ff9ee4 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button {
    font-family: 'Alef', sans-serif;
}

#lowEnergy {
    background-color: rgb(255, 209, 51);
}

#midEnergy {
    background-color: rgb(255, 200, 174)
}

#highEnergy {
    background-color: rgb(255, 136, 132)
}
